<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title> Watch Pig </title>
    <style>
        html body .page {
            height: 100%;
            width: 100%;
        }
        video {
            width: 800px;
        }
        .wrapper {
            width: 800px;
            margin: auto;
            margin-bottom: 1cm;
        }
    </style>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="page">
    <div class="wrapper">
        <h1> Watch Pig $9.98 monthly </h1>
        <p>This is the place to watch pig</p>
        <h2>Pig is in this place to watch</h2>
        <video data-dashjs-player autoplay controls type="application/dash+xml"></video>
        <p>Camera status: {{ camera_status }}</p>
        <button type="submit" class="button-success" onclick="location.href='{% url 'start_cam' %}'" name='start_cam'>Turn on camera</button>
        <button type="submit" class="button-error" onclick="location.href='{% url 'stop_cam' %}'" name='stop_cam'>Turn off camera</button>
        <button type="button" class="button-secondary" onclick="snapshot(window, document)" name='snapshot'>Snapshot!</button>

    </div>


</div>
<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
<script>
    var player = init();
    function init() {
        var video = document.querySelector("video");
        player = dashjs.MediaPlayer().create();
        player.initialize(video, "/static/streaming/manifest.mpd", true);
        player.updateSettings({
            'streaming': {
                'lowLatencyEnabled': false,
                'liveDelay': 1,
                'liveCatchUpMinDrift': 0.05,
                'liveCatchUpPlaybackRate': 0.5
            }
        });
        return player;
    }
</script>

<script>
function snapshot(window, document) {
    var canvas = document.createElement('canvas');
    var video = document.querySelector('video');
    var ctx = canvas.getContext('2d');

    // Change the size here
    canvas.width = parseInt(video.offsetWidth);
    canvas.height =  parseInt(video.offsetHeight);
    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
    
    var a = document.createElement('a');
    a.download = 'snap-' + canvas.width + 'x' + canvas.height + '-' + video.currentTime + '.jpg';
    // Won't work on file:/// URLs. SecurityError: Tainted canvases may not be exported.
    a.href = canvas.toDataURL('image/jpeg');
    document.body.appendChild(a).click();
    a.remove();
}
</script>


</body>
</html>
